<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<!-- The title is the text that shows up in the tab -->
	<title> Raposa </title> 
	 
	<!-- Pull in the custom tailwind stylesheet that only has the classes we will use -->
	<link rel="stylesheet" href="{{ url_for('static', filename='tailwind.css') }}">

	<!-- Now we download the fonts we want to use, this method pulls in different weights that are suitable for tailwind -->
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto&display=swap" rel="stylesheet">

	<!-- Now we add a favicon (small icon on tab and bookmark, must be 16x16 pixels)-->
	<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

	<!-- Use this link for troubleshooting, it just pulls a generic tailwins styling sheet from the web. Some features won't work -->
	<!-- <!link href="https://unpkg.com/tailwindcss@1.0.4/dist/tailwind.min.css" rel="stylesheet">  -->
</head>


<body class="flex items-center justify-center h-screen overflow-x-hidden overflow-y-auto bg-left-top bg-no-repeat bg-gray-200" >
	
	<!--Adding some background flair-->

	<div class= 'absolute z-0 right-5 top-3'>
		<img src="{{url_for('static', filename='images/icon-fundamentals2.svg')}}"
			class="object-scale-down h-10 sm:h-auto">
	</div>

	<!-- This is the main grid of the content -->
	<div class = 'absolute top-0 z-10 w-full h-5/6'>
		<!-- Row (it is really two columns spanned together) -->
		<!-- The logo -->
		<div class= 'z-10 flex items-start col-span-2 m-2 justify-center' >
			<!--Adding logo to the top of the page-->
			<img src="{{url_for('static', filename='images/logo raposa.svg')}}"
				class="object-scale-down w-1/2 h-auto max-h-24 ">
		</div>

		<!-- Column. This is one of the white squares-->
		<div class="z-10 m-5 bg-blue-500 justify-self-end">
				<h3 class="py-4 mx-1 font-sans text-2xl font-bold text-center">
					This is page 2 
				</h3>
				<h5 class="py-4 mx-1 font-sans text-2xl font-bold text-center">
					This is page 69 
				</h5>
				<div class="flex justify-center pt-6 text-center">
					<!-- Normally href is the link that clicking the <a> block should take you to (could be the next page of the app) -->
					<a href="/"
						class="w-10/12 p-1 mb-6 font-mono font-bold text-white rounded-full bg-red-900 hover:bg-blue-900 focus:outline-none focus:shadow-outline">
						Back to homepage
					</a>
				</div>
		</div>

	</div>
</body>

</html>